* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

body {
  min-height: 100vh;
  background-color: #1f1f1f;
}

section {
  max-width: 1000px;
  padding: 10px;
  margin: 0 auto;
}

section > * {
  font-size: 2.4rem;
}

a {
  color: #e5e5e5;
  text-decoration: none;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  padding: 10px 0;
  font-size: 2.8rem;
  color: #1f1f1f;
}

li {
  margin-left: 40px;
}

.main {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #e5e5e5;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  padding: 10px 0;
  text-align: center;
  background-color: #14213d;
}

.header__title {
  color: #e5e5e5;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.header__title:hover {
  color: #fca311;
}

.personal-info__header {
  text-align: center;
}

.personal-info__wrapper {
  display: flex;
  font-size: 2.4rem;
}

.personal-info__photo-wrapper {
  margin-right: 100px;
}

.personal-info__photo {
  width: 200px;
}

.personal-info__photo-description {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
}

.personal-info__text {
  padding-top: 20px;
}

.contacts__link {
  color: #1f1f1f;
  transition: color 0.3s ease-in-out;
}

.contacts__link:hover {
  color: #fca311;
}

.contacts__link:active {
  color: #8b0000;
}

.objective__header {
  text-align: center;
}

.code__example {
  font-size: 2rem;
}

.code__example > * {
  display: block;
  margin-left: 20px;
}

.code__tab_1 {
  padding-left: 20px;
}

.code__tab_2 {
  padding-left: 40px;
}

.education__header {
  text-align: center;
}

.english {
  padding-bottom: 20px;
}

.english__header {
  text-align: center;
}

.footer {
  padding: 10px 0;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  background-color: #14213d;
}

.gh-link {
  color: #e5e5e5;
  transition: color 0.3s ease-in-out;
}

.gh-link:hover {
  color: #fca311;
}

.gh-link:active {
  color: #8b0000;
}
